@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora&family=Merriweather:wght@300&family=Young+Serif&display=swap');
img {
  display: inline;
  width: 80px;
  height: 76px;
}


#title {
  color: white;
  font-family: Young Serif;
  font-size: 5vh;
  display: inline;

}
#tooglebutton{
  height: 9vh;
  width: 9vw;
    justify-self: right;
    top: 1vh;
    position: absolute;
}

header {

  background-color: #873e23;
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid
}

* {

  margin: 0%;
  padding: 0%;
}


.class1 {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around
}



@media screen and (max-height:600px) {
  #title {
    visibility: hidden;
  }

  img {
    visibility: hidden;


  }
  #links{
    height: 40px;
  }
  

}

@media screen and (max-width:900px) {
  #title {
    font-size: 2vh;
  }
  #img{
    height: 20px;
    width: 40px;
  }
  header{
    justify-content: left;

  }
  #tooglebutton{
    right: 13vw;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 50px;
    margin: 6px ;
  }
  #links img{
    height: 40px;
    width: 40px;
  }

}