.class2{
    display: flex;
    justify-content:space-evenly ;
    width: 100vw;
    background-color: rgb(229, 74, 100);
    margin-top: 4vh;
  
    
  }
  .first{
    height : 17vh;
    width: 12vw;
    color: black;
    background-color:rgb(185, 192, 211) ;
    border: 2px solid black ;
    font-size: medium;
    margin: 20px;
  }
