@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora&family=Merriweather:wght@300&family=Young+Serif&display=swap');
.Icon{

  display: inline;
  width: 80px;
  height: 60px;
}
p1{
  color: white;
  font-family: Young Serif;
  font-size: 5vh;
  position: relative;
  top: -2vh;
  display: inline;
}
header{
  background-color: #462012;
  width: 100vw;
  height: 12vh;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid

}
*{ 
    
    margin: 0%;
    padding: 0%;
    }
    

.class1{
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around
}

@media  screen and (max-width:600px)  {
   p1{
    font-size: 28px
    }
    img{
      height: auto;
    }
    header{
      font-size: 2vh;
    }
   
  }
 